<mat-sidenav-container class="relative z-40 md:hidden">
  <mat-sidenav mode="side" opened>
    <div>
      <div className="flex px-4 gap-6 items-center cursor-pointer">
        <img
          src="assets/dashx_logo_white.png"
          alt="DashX Logo White"
          width="30px"
          height="30px"
        />
        <span className="text-xl text-white font-bold">Demo App</span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
