<div
  class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8 m-auto"
>
  <app-form-header>Reset Password</app-form-header>
  <div
    class="sm:mx-auto sm:w-full mb-4 mt-4 sm:max-w-md rounded bg-white shadow shadow-md p-9"
  >
    <div *ngIf="successMessage" class="text-center">
      <app-success-box [successMessage]="successMessage"></app-success-box>
    </div>
    <div *ngIf="error" class="sm:mx-auto sm:w-full sm:max-w-md text-center">
      <app-alert-box [alertMessage]="error"></app-alert-box>
    </div>
    <div *ngIf="!successMessage">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-6 form-group">
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <div class="mt-1">
            <input
              id="password"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm form-control"
              type="password"
              formControlName="password"
              required
            />
            <span
              *ngIf="
                (resetPasswordForm.get('password')?.touched &&
                  !resetPasswordForm.get('password')?.valid) ||
                (submit && !resetPasswordForm.get('password')?.value)
              "
              class="font-medium text-sm text-red-600 mt-1"
            >
              Password is required
            </span>
          </div>
        </div>

        <div class="mb-6 form-group">
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-700"
            >Confirm Password</label
          >
          <div class="mt-1">
            <input
              id="confirmPassword"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm form-control"
              type="confirmPassword"
              formControlName="confirmPassword"
              required
            />
            <span
              *ngIf="
                (resetPasswordForm.get('confirmPassword')?.touched &&
                  !resetPasswordForm.get('confirmPassword')?.valid) ||
                (submit && !resetPasswordForm.get('confirmPassword')?.value)
              "
              class="font-medium text-sm text-red-600 mt-1"
            >
              Password is required
            </span>
          </div>
        </div>

        <div class="mt-7">
          <button
            class="group relative w-full flex hover:bg-indigo-500 gap-3 justify-center py-2 px-4 border border-transparent text-sm font-medium text-base rounded-md hover:text-white focus:outline-none focus:ring-1 focus:ring-indigo-500 mt-2 transition duration-300 text-indigo-500 bg-indigo-600"
            type="submit"
            [disabled]="loading"
          >
            <app-loader *ngIf="loading"></app-loader>
            <p *ngIf="!loading" class="text-white">Submit</p>
          </button>
        </div>
      </form>
    </div>
    <div class="text-sm text-center pt-6">
      <a
        class="font-medium text-indigo-600 hover:text-indigo-500"
        [routerLink]="['/login']"
      >
        Go back
      </a>
    </div>
  </div>
</div>
